.bp3-tab {
  margin-right: 0px !important;
  width: 50% !important;
  text-align: center !important;
}

.bp3-tab-panel {
  margin-top: 0px !important;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}
